<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
        <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
    </configSections>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>
    <socketServer>
        <servers>
            <server name="SuperWebSocket"
                    serviceName="SuperWebSocket"
                    ip="Any" port="911" mode="Async">
            </server>
        </servers>
        <services>
            <service serviceName="SuperWebSocket"
                     type="SuperWebSocket.WebSocketServer, SuperWebSocket" />
        </services>
    </socketServer>
    <loggingConfiguration configSource="config\logging.config" />
    <!--<system.diagnostics>
        <trace autoflush="true" />
        <sources>
            <source name="System.Net.Sockets" maxdatasize="1024">
                <listeners>
                    <add name="SocketTrace"/>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add name="SocketTrace"
                 type="System.Diagnostics.TextWriterTraceListener"
                 initializeData="System.Net.Trace.log" />
        </sharedListeners>
        <switches>
            <add name="System.Net.Sockets" value="Verbose" />
        </switches>
    </system.diagnostics>-->
</configuration>
