<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SuperWebSocket"/>
  </appSettings>
  <socketServer>
    <servers>
      <server name="TestServer"
              serviceName="TestServer"
              ip="Any" port="2011" mode="Tcp" syncSend="true" maxConnectionNumber="10000" listenBacklog="500">
      </server>
      <server name="Management"
              serviceName="Management"
              ip="Any" port="4502"
              maxConnectionNumber="5">
        <users>
          <user name="kerry" password="123456" />
        </users>
      </server>
    </servers>
    <services>
      <service name="TestServer"
               type="SuperWebSocket.PerformanceTest.TestServer.TestAppServer, SuperWebSocket.PerformanceTest.TestServer" />
      <service name="Management" type="SuperSocket.Management.Server.ManagementServer, SuperSocket.Management.Server" />
    </services>
  </socketServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>