<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>
  <socketServer loggingMode="IndependantFile">
    <servers>
      <server name="SampleServer"
              serviceName="SuperWebSocket" ip="Any" port="911" mode="Async">
        <subProtocols>
          <protocol>
            <commands>
              <add assembly="SuperWebSocket.Samples.CommandAssembly"/>
            </commands>
          </protocol>
        </subProtocols>
      </server>
    </servers>
    <services>
      <service name="SuperWebSocket"
               type="SuperWebSocket.WebSocketServer, SuperWebSocket" />
    </services>
    <connectionFilters>
    </connectionFilters>
  </socketServer>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>