<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SuperWebSocket"/>
  </appSettings>
  <socketServer>
    <servers>
      <server name="TestServer"
              serviceName="TestServer"
              ip="Any" port="2011" mode="Tcp" syncSend="false" maxConnectionNumber="10000" listenBacklog="500">
      </server>
    </servers>
    <services>
      <add name="TestServer"
           type="SuperWebSocket.PerformanceTest.TestServer.TestAppServer, SuperWebSocket.PerformanceTest.TestServer" />
    </services>
  </socketServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>